---
# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/refs/heads/master/src/schemas/json/clang-format.json
#
# clang-format v18.1.3
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

BasedOnStyle: LLVM
Language: Cpp
TabWidth: 4
IndentWidth: 4
PPIndentWidth: -1 # Follow IndentWidth
ContinuationIndentWidth: 4
BracedInitializerIndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 0 # Manual
UseTab: Never
SortIncludes: Never
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
BitFieldColonSpacing: After
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBinaryOperators: NonAssignment
CommentPragmas: ""
IncludeIsMainRegex: ""
IndentExternBlock: NoIndent
IndentPPDirectives: BeforeHash
InsertNewlineAtEOF: true
InsertTrailingCommas: Wrapped
KeepEmptyLinesAtTheStartOfBlocks: false
LineEnding: DeriveLF
